[submodule "src/utils/third_party/json"]
	path = src/utils/third_party/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "src/utils/third_party/cpp-base64"]
	path = src/utils/third_party/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
