.vscode/
bindings/c#/FormatPreservingEncryption/bin/
bindings/c#/FormatPreservingEncryption/obj/
bindings/c#/PhantomDotNet/bin/
bindings/c#/PhantomDotNet/obj/
bindings/c#/ShamirsSecretSharing/bin/
bindings/c#/ShamirsSecretSharing/obj/
bindings/c#/UnitTest/bin/
bindings/c#/UnitTest/obj/
bindings/c#/FPE/bin/
bindings/c#/FPE/obj/
bindings/c#/IdentityBasedEncryption/bin/
bindings/c#/IdentityBasedEncryption/obj/
docs/doxygen/
